.login{
    background-color:white;
    height: 260px;
    margin-top: 45%;
   
    margin-left: 10%;
    margin-right:10%;
}

.tela{
   
    margin-top: 5px;
    padding-left: 2%;
    padding-right: 2%;
   margin-right: 3%;
   margin-left: 3%;
  height: 98%;
   padding-top: 15px;
   padding-bottom: 5px;
  }
  .login{
    background-color:white;
    margin-top: 20px;
    
  }
  img{
    margin-left: 20%;
    margin-top:9%;
    
  }
  .assign{
    text-align: center;
    font-size: 10px;
    
  }